<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ruoyi.infection.mapper.SimulationRecordMapper">

    <select id="selectIdsByCity" resultType="java.lang.Long">
        SELECT unlock_result_id
        FROM infection_unlock_simulation_result
        WHERE city_name = #{city}
    </select>
    <select id="selectSimulationRecordsByCity" resultType="com.ruoyi.infection.domain.SimulationcityRecord">
        SELECT filepath AS simulationTime, state AS taskState
        FROM infection_unlock_simulation_result
        WHERE city_name = #{city} AND user_id = #{userId}
    </select>
    <select id="selectSimulationLockRecordsByCity" resultType="com.ruoyi.infection.domain.SimulationcityRecord">
        SELECT filepath AS simulationTime, state AS taskState
        FROM infection_lock_simulation_result
        WHERE city_name = #{city} AND user_id = #{userId}
    </select>
    <select id="selectSimulationMADDPGRecordsByCity" resultType="com.ruoyi.infection.domain.SimulationcityRecord">
        SELECT filepath AS simulationTime, state AS taskState
        FROM infection_maddpg_simulation_result
        WHERE city_name = #{city} AND user_id = #{userId}
    </select>
        <select id="findLatestIdByCity" resultType="java.lang.Long">
        SELECT unlock_result_id FROM infection_unlock_simulation_result WHERE city_name = #{city} AND user_id = #{userId} ORDER BY unlock_result_id DESC LIMIT 1
    </select>
    <select id="findFilePathById" resultType="java.lang.String">
        SELECT filepath FROM infection_unlock_simulation_result WHERE unlock_result_id = #{id}
    </select>
        <select id="findLockLatestIdByCity" resultType="java.lang.Long">
        SELECT lock_result_id FROM infection_lock_simulation_result WHERE city_name = #{city} AND user_id = #{userId} ORDER BY lock_result_id DESC LIMIT 1
    </select>
    <select id="findLockFilePathById" resultType="java.lang.String">
        SELECT filepath FROM infection_lock_simulation_result WHERE lock_result_id = #{id}
    </select>

    
</mapper>